
<nav class="navbar bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
      Teams for the week is shown below!
      You Can Manage Teams! Pick An Action.

    </span>
  </div>
</nav>

 <%= render 'api/v1/teams/initial' %> 
<br/>
<br/>

<table class="table table-hover table-bordered ">
<thead>
    <tr>
    <th>Name</th>
    <th>Team ID</th>
    <th>Employees</th>
    </tr>
</thead>

<tbody>
    <% @teams.each do |team| %>  
    <tr>                  
        <td><%= team.name %></td>
        <td><%= team.id %></td>
        <td>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Employee ID</th>
                <th>Department</th>
                <th>Attending Lunch</th>
                <th>Is Leader</th>

            </tr>
        </thead>    

         <tbody>
            <% team.employees.each do |employee| %>    
             <% if is_leader(employee)%>
              <tr class="table-active">
             <%else%>
               <tr >
             <%end%>
            <td><%= employee.name %></td>
            <td><%= employee.id %></td>
            <td><%= employee.emp_id %></td>
            <td><%= employee.department %></td>
            <td><%= employee.attending_lunch %></td>
            <td><%= employee.is_leader %></td>
            <% end %>
          </tr>
                 
        </tbody>
        </table> 
        
        </td>
    </tr>
    <% end %> 
</tbody>


</table> 

